.slider img {
  height: 450px;
  object-fit: cover;
}

.small-img {
  width: 100px
}

.drawer-img {
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}

.full-img {
  height: auto;
  width: 100%;
}

.pointer {
  cursor: pointer;
}